doctype
html
  head
    title= "Popular Frameworks"
  body
    h1= title
    h2= text
    //-
      <!-- p= "this is a paragraph tag"
        a(href="https://www.youtube.com/watch?v=leilVbK0xQc") this is a link to pug youtube vid
      to put tags inside of other elements just indent -->
    //

