.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.top {
  width: 42%;
  color: #00acc1;
  border-radius: 2%;
  background-color: rgba(7, 152, 169, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top > h1 {
    font-size: 2.5rem;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;

}
.top > h2 {
    font-size: 2rem;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  transition: all 1s;
}

 .img500 {
  width: 500px;
}

button {
  cursor: pointer;
  padding: 5px 25px;
  background: #009688;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  color: #f3f3f3;
  font-size: 1.1em;
  margin: 5px;
}

input[type=text] {
    width: initial;
    height: 20px;
    font-size: 1.5rem;
    color: #332f2f;
}

